$def with (inputId)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<body>
	<table style="position:relative;">
	<tr>
		<td>
			<div id="graphContainer"
				style="overflow:hidden;width:321px;height:241px;cursor:default;">
			</div>
		</td>
		<td valign="top">
			<div id="properties"
				style="padding: 10px;">
			</div>
		</td>
	</tr>
	</table>
</body>


<input type="hidden" id="value-submit" name="$inputId" value="" class="monospace form-control"/>
