$def with (inputId, default)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<body onload="default_graph(document.getElementById('graphContainer'))">
	<table style="position:relative;">
	<tr>
		<td>
            <div id="tbContainer"
                style="position:absolute;overflow:hidden;padding:2px;left:0px;top:0px;width:100px;bottom:0px">            
            </div>
			<div id="graphContainer"
				style="overflow:hidden;width:500px;height:400px;cursor:default;left:120px">
			</div>
		</td>
		<td valign="top">
			<div id="properties"
				style="padding: 10px;position:absolute;">
			</div>
		</td>
	</tr>
	</table>
</body>


<script type="text/javascript">
       function default_graph(container)
		{
			// Checks if the browser is supported
			if (!mxClient.isBrowserSupported())
			{
				// Displays an error message if the browser is not supported.
				mxUtils.error('Browser is not supported!', 200, false);
			}
			else
			{
				// Disables the built-in context menu
				mxEvent.disableContextMenu(container);
				//The list of xml files
				var stencilsFile = new Array("resistors.xml","signal_sources.xml", "capacitors.xml", "inductors.xml") 
				
				// Creates the graph inside the given container
				var graph = new mxGraph(container);
                graph.setConnectable(true);
                new mxKeyHandler(graph);
				// send xml of 2 graph in 2 input when submit
				jQuery(document).ready(function(){
					jQuery("#task-submit").click(function(){
						var encoder = new mxCodec();
						var node = encoder.encode(graph.getModel());
						jQuery("#value-submit").val(mxUtils.getPrettyXml(node));
					});
				});
                
                // Overrides method to disallow edge label editing
				graph.isCellEditable = function(cell)
				{
					return !this.getModel().isEdge(cell);
				};
				
				// Overrides method to provide a cell label in the display
				graph.convertValueToString = function(cell)
				{
					if (mxUtils.isNode(cell.value))
					{
						if (cell.value.nodeName.toLowerCase() == 'component')
						{
							var name = cell.getAttribute('name', '');
							var value = cell.getAttribute('value', '');
							return name + ' ' + value;
						}
					}
					return '';
				};
				// Overrides method to store a cell label in the model
				var cellLabelChanged = graph.cellLabelChanged;
				graph.cellLabelChanged = function(cell, newValue, autoSize)
				{
					if (mxUtils.isNode(cell.value) &&
						cell.value.nodeName.toLowerCase() == 'component')
					{
						var pos = newValue.indexOf(' ');
						var name = (pos > 0) ? newValue.substring(0,
								pos) : newValue;
						var value = (pos > 0) ? newValue.substring(
								pos + 1, newValue.length) : '';
						// Clones the value for correct undo/redo
						var elt = cell.value.cloneNode(true);
						elt.setAttribute('name', name);
						elt.setAttribute('value', value);
						newValue = elt;
						autoSize = false;
					}
					
					cellLabelChanged.apply(this, arguments);
				};
				
				// Overrides method to create the editing value
				var getEditingValue = graph.getEditingValue;
				graph.getEditingValue = function(cell)
				{
					if (mxUtils.isNode(cell.value) &&
						cell.value.nodeName.toLowerCase() == 'component')
					{
						var name = cell.getAttribute('name', '');
						var value = cell.getAttribute('value', '');
						return name + ' ' + value;
					}
				};
			
			    // Disables automatic handling of ports. This disables the reset of the
			    // respective style in mxGraph.cellConnected. Note that this feature may
			    // be useful if floating and fixed connections are combined.
			    graph.setPortsEnabled(false);
				
                //Maximum size
			    graph.maximumGraphBounds = new mxRectangle(0, 0, 1800, 1600)
			    graph.border = 50;
				var styleV = graph.getStylesheet().getDefaultVertexStyle();
				styleV['movable'] = '1';
				styleV['resizable'] = '1';
				styleV[mxConstants.STYLE_STROKECOLOR] = '#000000';
				styleV[mxConstants.STYLE_FILLCOLOR] = '#FFFFFF';
				var styleE = graph.getStylesheet().getDefaultEdgeStyle();
				delete styleE['endArrow'];
				styleE['movable'] = '1';
				styleE['resizable'] = '0';
				styleE['edgeStyle'] = 'wireEdgeStyle';
				styleE['fontSize'] = '9';
				styleE['movable'] = '0';
				// Enables rubberband selection
				new mxRubberband(graph);
				       
				
                // Disables floating connections (only connections via ports allowed)
			    graph.connectionHandler.isConnectableCell = function(cell)
			    {
			        return false;
			    };
                // Allow connection between two port with the same name (ex: IN-IN or OUT-OUT)
                graph.connectionHandler.checkConstraints = function(c1, c2)
			    {
			        return true;
			    };
			    mxEdgeHandler.prototype.isConnectableCell = function(cell)
			    {
				    return graph.connectionHandler.isConnectableCell(cell);
			    };
				
			    // Disables existing port functionality
			    graph.view.getTerminalPort = function(state, terminal, source)
			    {
				    return terminal;
			    };
                
			
			    // Sets the port for the given connection
			    graph.setConnectionConstraint = function(edge, terminal, source, constraint)
			    {
				    if (constraint != null)
				    {
					    var key = (source) ? mxConstants.STYLE_SOURCE_PORT : mxConstants.STYLE_TARGET_PORT;
					
					    if (constraint == null || constraint.name == null)
					    {
						    this.setCellStyles(key, null, [edge]);
					    }
					    else if (constraint.name != null)
					    {
						    this.setCellStyles(key, constraint.name, [edge]);
					    }
				    }
			    };
			
			    // Returns the port for the given connection
			    graph.getConnectionConstraint = function(edge, terminal, source)
			    {
				    var key = (source) ? mxConstants.STYLE_SOURCE_PORT : mxConstants.STYLE_TARGET_PORT;
				    var id = edge.style[key];
				
				    if (id != null)
				    {
					    var c =  new mxConnectionConstraint(null, null);
					    c.id = id;
					
					    return c;
				    }
				
				    return null;
			    };
			    // Returns the actual point for a port by redirecting the constraint to the port
			    graphGetConnectionPoint = graph.getConnectionPoint;
			    graph.getConnectionPoint = function(vertex, constraint)
			    {
				    if (constraint.id != null && vertex != null && vertex.shape != null)
				    {
				    	
				    	var port;
					    var ports = vertex.shape['stencil'].constraints;
					    if(ports[0].name == constraint.id)
					    {
					    	port = ports[0];
					    }
					    else
					    {
					    	port = ports[1];
					    }
						
					    if (port != null)	
					    {
						    constraint = new mxConnectionConstraint(new mxPoint(port.point.x, port.point.y), port.perimeter);
					    }
				    }
				
				    return graphGetConnectionPoint.apply(this, arguments);
			    };
							
                //The list of xml files	                 
			    stencilsFile.forEach(function(element){
				    var req = mxUtils.load('/plugins/electrical/static/stencils/' + element);
				    var root = req.getDocumentElement();
				    var shape = root.firstChild;
			
				    while (shape != null)
				    {
					    if (shape.nodeType == mxConstants.NODETYPE_ELEMENT)
					    {
						    mxStencilRegistry.addStencil(shape.getAttribute('name'), new mxStencil(shape));
					    }
			
					    shape = shape.nextSibling;
				    }
			    });

                // add component to the toolbar
                var addVertex = function(icon, w, h, style, type, counter)
				{
				
					var img = addToolbarItem(graph, toolbar, icon, doc, w, h, style, type, counter);
					img.enabled = true;
					
					graph.getSelectionModel().addListener(mxEvent.CHANGE, function()
					{
						var tmp = graph.isSelectionEmpty();
						img.enabled = tmp;
					});
				};
			
				// Creates new toolbar without event processing
				var toolbar = new mxToolbar(tbContainer);
				toolbar.enabled = false
                var counter = [0, 0, 0, 0] // counts for Resistor, Capacitor, Voltage and Inductor
                var doc = mxUtils.createXmlDocument();
                addVertex('images/resistor.png', 80, 30, 'shape=Resistor 2;verticalLabelPosition=top;verticalAlign=bottom;', 'Resistor', counter);
                addVertex('images/capacitor.png', 80, 40, 'shape=Capacitor 1;verticalLabelPosition=top;verticalAlign=bottom;', 'Capacitor', counter);
                addVertex('images/voltage.png', 40, 40, 'shape=DC Source 1;verticalLabelPosition=top;verticalAlign=bottom;', 'Voltage', counter);		
                addVertex('images/inductor.png', 80, 40, 'shape=Inductor 5;verticalLabelPosition=top;verticalAlign=bottom;', 'Inductor', counter);

                mxVertexHandler.prototype.rotationEnabled = true; 
                // create graph from the default xml
                var xmlText = `$:default`;
                var parser = new DOMParser();
                xml = parser.parseFromString(xmlText, "text/xml");
                var root = xml.documentElement;
	            var dec = new mxCodec(root.ownerDocument);
                dec.decode(root, graph.getModel());
                mxVertexHandler.prototype.rotationEnabled = false;
				
			    // Implements a properties panel that uses
				// mxCellAttributeChange to change properties
				graph.getSelectionModel().addListener(mxEvent.CHANGE, function(sender, evt)
				{
					selectionChanged(graph);
				});
				selectionChanged(graph);

                // Delete the selected cells (keyboard delete)
                document.addEventListener('keydown', function (e) {
                    if(e.key == "Delete") 
                        graph.removeCells();
                }, false);  
			}
			/**
			 * Updates the properties panel
			 */
			function selectionChanged(graph)
			{
				var div = document.getElementById('properties');
				// Forces focusout in IE
				graph.container.focus();
				// Clears the DIV the non-DOM way
				div.innerHTML = '';
				// Gets the selection cell
				var cell = graph.getSelectionCell();
				if (cell != null && cell.value != null && cell.value.nodeName.toLowerCase() == 'component')
				{
					// Writes the title
					var center = document.createElement('center');
					mxUtils.writeln(center, 'Editing ' + cell.getAttribute('name'));
					div.appendChild(center);
					mxUtils.br(div);
					// Creates the form from the attributes of the user object
					var form = new mxForm();
	
					var attrs = cell.value.attributes;
					
					for (var i = 0; i < attrs.length; i++)
					{	
						if(attrs[i].nodeName != 'type') {
							createTextField(graph, form, cell, attrs[i]);
						}
					}
	
					div.appendChild(form.getTable());
					mxUtils.br(div);
				}
			}
			/**
			 * Creates the textfield for the given property.
			 */
			function createTextField(graph, form, cell, attribute)
			{
				var input = form.addText(attribute.nodeName + ':', attribute.nodeValue);
				var applyHandler = function()
				{
					var newValue = input.value || '';
					var oldValue = cell.getAttribute(attribute.nodeName, '');
					if (newValue != oldValue)
					{
						graph.getModel().beginUpdate();
                        
                        try
                        {
                        	var edit = new mxCellAttributeChange(
 		                           cell, attribute.nodeName,
 		                           newValue);
                           	graph.getModel().execute(edit);
                        }
                        finally
                        {
                            graph.getModel().endUpdate();
                        }
					}
				}; 
				mxEvent.addListener(input, 'keypress', function (evt)
				{
					// Needs to take shift into account for textareas
					if (evt.keyCode == /*enter*/13 &&
						!mxEvent.isShiftDown(evt))
					{
						input.blur();
					}
				});
				if (mxClient.IS_IE)
				{
					mxEvent.addListener(input, 'focusout', applyHandler);
				}
				else
				{
					// Note: Known problem is the blurring of fields in
					// Firefox by changing the selection, in which case
					// no event is fired in FF and the change is lost.
					// As a workaround you should use a local variable
					// that stores the focused field and invoke blur
					// explicitely where we do the graph.focus above.
					mxEvent.addListener(input, 'blur', applyHandler);
				}
			}
		};

    function addToolbarItem(graph, toolbar, image, doc, w, h, style, type, counter)
	{
		// Function that is executed when the image is dropped on
		// the graph. The cell argument points to the cell under
		// the mousepointer if there is one.
		var funct = function(graph, evt, cell, x, y)
		{
			graph.stopEditing(false);  

            var name = type[0]
            switch(name) {
                case 'R':
                    counter[0]++
                    name += counter[0]
                    break;
                case 'C':
                    counter[1]++
                    name += counter[1]
                    break;
                case 'V':
                    counter[2]++
                    name += counter[2]
                    break;
                case 'I':
                    counter[3]++
                    name += counter[3]
                    break;
                default:
                    console.log("name unknown")
            } 

            var c = doc.createElement('Component');
	        c.setAttribute('name', name);
	        c.setAttribute('value', '0');
	        c.setAttribute('type', type);        
            parent = graph.getDefaultParent();
		    var v = graph.insertVertex(parent, null, c, x, y, w, h, style);    
			graph.setSelectionCell(v);
		}
		
		// Creates the image which is used as the drag icon (preview)
		var img = toolbar.addMode(null, image, function(evt, cell)
		{
			var pt = this.graph.getPointForEvent(evt);
			funct(graph, evt, cell, pt.x, pt.y);
		});
		
		// Disables dragging if element is disabled. This is a workaround
		// for wrong event order in IE. Following is a dummy listener that
		// is invoked as the last listener in IE.
		mxEvent.addListener(img, 'mousedown', function(evt)
		{
			// do nothing
		});
		
		// This listener is always called first before any other listener
		// in all browsers.
		mxEvent.addListener(img, 'mousedown', function(evt)
		{
			if (img.enabled == false)
			{
				mxEvent.consume(evt);
			}
		});
					
		mxUtils.makeDraggable(img, graph, funct);
		
		return img;
	}
		
	mxEdgeStyle.WireConnector = function(state, source, target, hints, result)
	{
		// Creates array of all way- and terminalpoints
		var pts = state.absolutePoints;
		var horizontal = true;
		var hint = null;
		
		// Gets the initial connection from the source terminal or edge
		if (source != null && state.view.graph.model.isEdge(source.cell))
		{
			horizontal = state.style['sourceConstraint'] == 'horizontal';
		}
		else if (source != null)
		{
			horizontal = source.style['portConstraint'] != 'vertical';
			
			// Checks the direction of the shape and rotates
			var direction = source.style[mxConstants.STYLE_DIRECTION];
			
			if (direction == 'north' || direction == 'south')
			{
				horizontal = !horizontal;
			}
		}
		
		// Adds the first point
		// TODO: Should move along connected segment
		var pt = pts[0];
		
		if (pt == null && source != null)
		{
			pt = new mxPoint(state.view.getRoutingCenterX(source), state.view.getRoutingCenterY(source));
		}
		else if (pt != null)
		{
			pt = pt.clone();
		}
		
		var first = pt;
		// Adds the waypoints
		if (hints != null && hints.length > 0)
		{
			// FIXME: First segment not movable
			/*hint = state.view.transformControlPoint(state, hints[0]);
			mxLog.show();
			mxLog.debug(hints.length,'hints0.y='+hint.y, pt.y)
			
			if (horizontal && Math.floor(hint.y) != Math.floor(pt.y))
			{
				mxLog.show();
				mxLog.debug('add waypoint');
				pt = new mxPoint(pt.x, hint.y);
				result.push(pt);
				pt = pt.clone();
				//horizontal = !horizontal;
			}*/
			
			for (var i = 0; i < hints.length; i++)
			{
				horizontal = !horizontal;
				hint = state.view.transformControlPoint(state, hints[i]);
				if (horizontal)
				{
					if (pt.y != hint.y)
					{
						pt.y = hint.y;
						result.push(pt.clone());
					}
				}
				else if (pt.x != hint.x)
				{
					pt.x = hint.x;
					result.push(pt.clone());
				}
			}
		}
		else
		{
			hint = pt;
		}
		// Adds the last point
		pt = pts[pts.length - 1];
		// TODO: Should move along connected segment
		if (pt == null && target != null)
		{
			pt = new mxPoint(state.view.getRoutingCenterX(target), state.view.getRoutingCenterY(target));
		}
		if (horizontal)
		{
			if (pt.y != hint.y && first.x != pt.x)
			{
				result.push(new mxPoint(pt.x, hint.y));
			}
		}
		else if (pt.x != hint.x && first.y != pt.y)
		{
			result.push(new mxPoint(hint.x, pt.y));
		}
	};
    mxStyleRegistry.putValue('wireEdgeStyle', mxEdgeStyle.WireConnector);
	
	// This connector needs an mxEdgeSegmentHandler
	mxGraphCreateHandler = mxGraph.prototype.createHandler;
	mxGraph.prototype.createHandler = function(state)
	{
		var result = null;
		
		if (state != null)
		{
			if (this.model.isEdge(state.cell))
			{
				var style = this.view.getEdgeStyle(state);
				
				if (style == mxEdgeStyle.WireConnector)
				{
					return new mxEdgeSegmentHandler(state);
				}
			}
		}
		
		return mxGraphCreateHandler.apply(this, arguments);
	};
    
</script>


<input type="hidden" id="value-submit" name="$inputId" value="" class="monospace form-control"/>
