$def with (inputId, default)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<body onload="default_graph(document.getElementById('graphContainer'))">
	<table style="position:relative;">
	<tr>
		<td>
			<div id="graphContainer"
				style="overflow:hidden;width:321px;height:241px;cursor:default;">
			</div>
		</td>
		<td valign="top">
			<div id="properties"
				style="padding: 10px;">
			</div>
		</td>
	</tr>
	</table>
</body>


<script type="text/javascript">
    function default_graph(container) {
		var graph = new mxGraph(container);
        initializeGraph(graph, container);
    
        // create graph from the default xml
        var xmlText = `$:default`;
        var parser = new DOMParser();
        xml = parser.parseFromString(xmlText, "text/xml");
        var root = xml.documentElement;
        var dec = new mxCodec(root.ownerDocument);
        dec.decode(root, graph.getModel());
				
	};

    
    mxStyleRegistry.putValue('wireEdgeStyle', mxEdgeStyle.WireConnector);
	// This connector needs an mxEdgeSegmentHandler
	mxGraphCreateHandler = mxGraph.prototype.createHandler;
	mxGraph.prototype.createHandler = function(state)
	{
		var result = null;
		
		if (state != null)
		{
			if (this.model.isEdge(state.cell))
			{
				var style = this.view.getEdgeStyle(state);
				
				if (style == mxEdgeStyle.WireConnector)
				{
					return new mxEdgeSegmentHandler(state);
				}
			}
		}
		
		return mxGraphCreateHandler.apply(this, arguments);
	};
    
</script>


<input type="hidden" id="value-submit" name="$inputId" value="" class="monospace form-control"/>
