$def with (key)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<div class="form-group" style="display:none;">
    <label for="header-PID" class="col-sm-2 control-label">Context</label>
    <div class="col-sm-10">
        <textarea id="header-PID" class="form-control" name="problem[PID][header]"></textarea>
    </div>
</div>
        
<textarea id="circuit-PID" class="form-control" name="problem[PID][circuit]" style="display:none;"></textarea>

<div class="form-group">
    <label for="edit-PID" class="col-sm-2 control-label">Edit graph</label>
    <div class="col-sm-10">
        <body onload="editCircuit(document.getElementById('graphContainer'))">
	        <table style="position:relative;">
	        <tr>
		        <td id="td">
                    <div id="tbContainer"
                        style="position:absolute;overflow:hidden;padding:2px;left:0px;top:0px;width:60px;bottom:0px">            
                    </div>
			        <div id="graphContainer"
				        style="overflow:hidden;width:500px;height:400px;cursor:default;left:120px;background:url('/plugins/electrical/static/images/grid.gif');">
			        </div>
					<div id="buttons"
						style="position:absolute;overflow:hidden;padding:2px;left:120px;top:0px;">            
					</div>
		        </td>
		        <td valign="top">
			        <div id="properties"
				        style="padding: 10px;position:absolute;background:#FFFFFF">
			        </div>
		        </td>
	        </tr>
	        </table>
        </body>

        <script type="text/javascript">
            function editCircuit(container)
	        {
				// Creates the graph inside the given container
				var graph = new mxGraph(container);
				graph.setConnectable(true);
				new mxKeyHandler(graph);
				
				makeGraph(graph, container);
		        
				cellLabelEdit(graph)
		
		        settingsEdit(graph)		                   

				mxVertexHandler.prototype.rotationEnabled = true; 
                // create graph from the xml
                var xmlText = jQuery("#circuit-PID").val();
                var parser = new DOMParser();
                xml = parser.parseFromString(xmlText, "text/xml");
                var root = xml.documentElement;
                var dec = new mxCodec(root.ownerDocument);
                dec.decode(root, graph.getModel());
                mxVertexHandler.prototype.rotationEnabled = false;

                toolBar(graph)

				// generate random circuit
				var divButtons = document.getElementById('buttons');
				var generateButton = mxUtils.button('Generate circuit', function()
				{	
					nbrCycle = jQuery("#input_cycle-PID").val()
					direct = jQuery("#input_direct-PID").prop( "checked" ) ? "on" : "" 
					reverse = jQuery("#input_reverse-PID").prop( "checked" ) ? "on" : ""
					jQuery.ajax({
					  type: "GET",
					  url: "/plugins/electrical/generator?input_cycle="+nbrCycle+"&"+"input_direct="+direct+"&"+"input_reverse="+reverse,
					  success:function(result) { 
						xmlText = result   
						var parser = new DOMParser();
						xml = parser.parseFromString(xmlText, "text/xml");
						var root = xml.documentElement;
						var dec = new mxCodec(root.ownerDocument);
						dec.decode(root, graph.getModel());
						mxVertexHandler.prototype.rotationEnabled = false;
					  }
					});
				})
				generateButton.style.position = 'relative';
				generateButton.addEventListener('click', event => event.preventDefault());
				divButtons.appendChild(generateButton);

		        panelEdit(graph)

				// add the created graph to the xml when the graph is modified
				graph.getModel().addListener(mxEvent.CHANGE, function(sender, evt){
					var encoder = new mxCodec();
					var node = encoder.encode(graph.getModel());
					jQuery("#circuit-PID").val(mxUtils.getPrettyXml(node));
				});
            };
        </script>
    </div>
</div>

<div class="form-group">
    <label for="option" class="col-sm-2 control-label">Option random generation</label>
    <div class="col-sm-10">
        <label for="input_cycle-PID" class="col-md-3 control-label">Number of cycle</label>   
        <div>
            <label>
                <input id="input_cycle-PID" name="problem[PID][input_cycle]" class="form-control input-xs" value="0" placeholder="0" type="number">
            </label>
        </div>
        <div>
            <label for="input_direct-PID" class="col-md-3 control-label" data-toggle="tooltip" data-placement="top" title="Find the current or voltage of a circuit">Direct question</label>
            <div class="col-md-1">
                <div class="checkbox"><label>
                    <input type="checkbox" id="input_direct-PID" name="problem[PID][input_direct]">&nbsp;
                </label></div>
            </div>
            <label for="input_reverse-PID" class="col-md-3 control-label" data-toggle="tooltip" data-placement="top" title="Recover the impedance from a measure">Reverse question</label>
            <div class="col-md-1">
                <div class="checkbox"><label>
                    <input type="checkbox" id="input_reverse-PID" name="problem[PID][input_reverse]">&nbsp;
                </label></div>
            </div>
        </div>     
    </div>
</div>
