$def with (inputId, circuit, input_cycle, input_direct, input_reverse)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<body onload="makeStudentGraph(document.getElementById('graphContainer'))">
	<table style="position:relative;">
	<tr>
		<td>
            <div id="buttons"
                style="position:absolute;overflow:hidden;padding:2px;left:0px;top:0px;width:100px;bottom:0px">            
            </div>
			<div id="graphContainer"
				style="overflow:hidden;width:500px;height:400px;cursor:default;left:120px">
			</div>
		</td>
		<td valign="top">
			<div id="properties"
				style="padding: 10px;position:absolute;width:200px;background:#FFFFFF">
			</div>
		</td>
	</tr>
	</table>
    <div id="equations"
        style="position:relative;bottom:0px">
    </div>  
</body>

<script type="text/javascript">
    function makeStudentGraph(container)
	{
		// Creates the graph inside the given container
		var graph = new mxGraph(container);
        graph.setConnectable(false);
        new mxKeyHandler(graph);
		
		makeGraph(graph, container);

		cellLabelStudent(graph);

		settingsStudent(graph);
		
		mxVertexHandler.prototype.rotationEnabled = true;
        var xmlText = ""
        // generate graph randomly
        if(input["@random"].length > 0) { 
            jQuery.ajax({
              type: "GET",
              url: "/plugins/electrical/generator?input_cycle="+`$:input_cycle`+"&"+"input_direct="+`$:input_direct`+"&"+"input_reverse="+`$:input_reverse`,
              success:function(result) { 
                xmlText = result   
                var parser = new DOMParser();
                xml = parser.parseFromString(xmlText, "text/xml");
                var root = xml.documentElement;
                var dec = new mxCodec(root.ownerDocument);
                dec.decode(root, graph.getModel());
                mxVertexHandler.prototype.rotationEnabled = false;
              }
            });
        }
        // create graph from the xml
        else {
            xmlText = `$:circuit`;
            var parser = new DOMParser();
            xml = parser.parseFromString(xmlText, "text/xml");
            var root = xml.documentElement;
            var dec = new mxCodec(root.ownerDocument);
            dec.decode(root, graph.getModel());
            mxVertexHandler.prototype.rotationEnabled = false;
        }

		var divButtons = document.getElementById('buttons');
		var labelNames = getLabelNames(graph)
    	var equCnt = [1]
        
		panelStudent(graph, labelNames)
		
		nodeName(graph, labelNames, divButtons)

		makeEquation(graph, divButtons, equCnt)

		setSubmit(graph)
	};
    
</script>


<input type="hidden" id="value-submit" name="$inputId" value="" class="monospace form-control"/>
<input type="hidden" id="equations-submit" name="equations" value="" class="monospace form-control">
